<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生信息查询系统</title>
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="../static/css/Club_main.css"/>
</head>

<body>
<div class="container">
    <div class="header">
        <span class="left">学 生 信 息 查 询</span>
        <span class="right">你好，{{ user }} 管理员!</span>
        <span class="right_right"><a href="/?action=logout">退出登录</a></span>
    </div>
    <div class="leftside">
        <ul>
            <li class="{% if request.path == '/admin_page_Student' %}active{% endif %}"><a href="/admin_page_Student">学生信息录入</a></li>
            <li class="{% if request.path == '/admin_page_StudentManagement' %}active{% endif %}"><a href="/admin_page_StudentManagement">学生信息变动</a></li>
            <li class="{% if request.path == '/admin_page_StudentQuery' %}active{% endif %}"><a href="/admin_page_StudentQuery">学生信息查询</a></li>
            <li class="{% if request.path == '/activity_application' %}active{% endif %}"><a href="/activity_application">社团活动申请</a></li>
            {% if user_power == 2 %}
            <li class="{% if request.path == '/admin_page_Club' %}active{% endif %}"><a href="/admin_page_Club">社团信息录入</a></li>
            <li class="{% if request.path == '/admin_page_ClubManagement' %}active{% endif %}"><a href="/admin_page_ClubManagement">社团信息变动</a></li>
            <li class="{% if request.path == '/admin_page_ClubQuery' %}active{% endif %}"><a href="/admin_page_ClubQuery">社团信息查询</a></li>
            <li class="{% if request.path == '/admin_page_ActivityApproval' %}active{% endif %}"><a href="/admin_page_ActivityApproval">活动审批</a></li>
            <li class="{% if request.path == '/admin_page_UserManagement' %}active{% endif %}"><a href="/admin_page_UserManagement">管理员人员变动</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        <h1 class="sub-header">学 生 信 息 查 询 系 统</h1>&nbsp;&nbsp;
        <hr>
        <div class="table-responsive">
            <form action="/admin_page_StudentQuery" method="post">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>学号</th>
                            <th>班级</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>所属社团</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="long" name="student_id" type="text" /></td>
                            <td><input class="long" name="student_class" type="text" /></td>
                            <td><input class="long" name="student_name" type="text" /></td>
                            <td><input class="long" name="student_sex" type="text" /></td>
                            <td><input class="long" name="club_name" type="text" /></td>
                            <td><input class="last" type="submit" value="查询" /></td>
                        </tr>
                        <tr>
                            <td colspan="6" id="Result"><span>查询结果: {{ query_result }}</span></td>
                        </tr>
                        {% for result in results %}
                        <tr>
                            <td>{{ result[0] }}</td>
                            <td>{{ result[1] }}</td>
                            <td>{{ result[2] }}</td>
                            <td>{{ result[3] }}</td>
                            <td>{{ result[4] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
</body>

</html>
